* {
    background-color: rgb(136, 136, 136);
    padding: 0px;
    margin: 0px;
    text-align: center;
}

div {
    font-size: 32px;
    color: rgb(0, 0, 0);
    padding: 32px;
    margin: 32px;
}

ul {
    font-size: 24px;
}

.beef {
    display: inline-block;
    background-image: linear-gradient(red, yellow, green);
}